
<section class="container pt-3">
  <h2>{{newsEventSlideObj?.Headline}}</h2>
   <p>{{newsEventSlideObj?.MainText}}</p>
   <div class="row">
    <div class="col-sm-12 my-3">
        <div>
            <img *ngIf="newsEventSlideObj?.ImageUrl" loading="lazy" height="500" [src]="globalSrv.imageUrlGet(newsEventSlideObj?.ImageUrl)" alt="">
        </div>
    </div>
   </div>
   <div class="row py-3">
    <div class="col-sm-12">
        <p>{{newsEventSlideObj?.DetailText}}</p>
    </div>
   </div>
</section>
