<!-- Bags started here -->
<section *ngIf="menuControllerSrv?.personalMenuItem === 'bags' " class="container pt-3">
  <h1>Bags</h1>
  <p>
    Bag are combination of various products designed to provide
    assistance to the consumer.
  </p>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/7.jpg"
          class="card-img-top"
          alt="student1"
        />
        <div class="m-3">
          <h3 class="card-title">Bags Title</h3>
          <p class="card-text">Bags description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/8.JPG"
          class="card-img-top"
          alt="student2"
        />
        <div class="m-3">
          <h3 class="card-title">Bags Title</h3>
          <p class="card-text">Bags description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/basket1.JPG"
          class="card-img-top"
          alt="student3"
        />
        <div class="m-3">
          <h3 class="card-title">Bags Title</h3>
          <p class="card-text">Bags description</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bags ended here -->

<!-- Jewelry started here -->
<section *ngIf="menuControllerSrv?.personalMenuItem === 'jewelry' " class="container pt-3">
  <h1>Jewelry</h1>
  <p>
    Jewelry and associated items designed to enhance a person's appearance.
  </p>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/j1.jpg"
          class="card-img-top"
          alt="student1"
        />
        <div class="m-3">
          <h3 class="card-title">Jewelry Title</h3>
          <p class="card-text">Jewelry description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/j2.jpg"
          class="card-img-top"
          alt="student2"
        />
        <div class="m-3">
          <h3 class="card-title">Jewelry Title</h3>
          <p class="card-text">Jewelry description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/j3.jpg"
          class="card-img-top"
          alt="student3"
        />
        <div class="m-3">
          <h3 class="card-title">Jewelry Title</h3>
          <p class="card-text">Jewelry description</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Jewelry ended here -->

<!-- Purses started here -->
<section *ngIf="menuControllerSrv?.personalMenuItem === 'purses' " class="container pt-3">
  <h1>Purses</h1>
  <p>
    A small pouch of leather or plastic used for carrying money, typically by a woman.
  </p>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/paurse1.jpg"
          class="card-img-top"
          alt="student1"
        />
        <div class="m-3">
          <h3 class="card-title">Purses Title</h3>
          <p class="card-text">Purses description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/purse2.jpg"
          class="card-img-top"
          alt="student2"
        />
        <div class="m-3">
          <h3 class="card-title">Purses Title</h3>
          <p class="card-text">Purses description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img loading="lazy"
          src="../../../assets/images/DhakaHandiCraft/purse3.JPG"
          class="card-img-top"
          alt="student3"
        />
        <div class="m-3">
          <h3 class="card-title">Purses Title</h3>
          <p class="card-text">Purses description</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Purses ended here -->