  <!-- Planters started here -->
  <section *ngIf="menuControllerSrv?.gardenMenuItem === 'planters' " class="container pt-3"> 
    <h1>Planters</h1>
    <p>
      Planters are combination of various products designed to provide
      assistance to the consumer.
    </p>
  
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/images/DhakaHandiCraft/7.jpg"
            class="card-img-top"
            alt="student1"
          />
          <div class="m-3">
            <h3 class="card-title">Planters Title</h3>
            <p class="card-text">Planters description</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/images/DhakaHandiCraft/basket1.JPG"
            class="card-img-top"
            alt="student2"
          />
          <div class="m-3">
            <h3 class="card-title">Planters Title</h3>
            <p class="card-text">Planters description</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/images/DhakaHandiCraft/8.JPG"
            class="card-img-top"
            alt="student3"
          />
          <div class="m-3">
            <h3 class="card-title">Planters Title</h3>
            <p class="card-text">Planters description</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Planters ended here -->
  
  <!-- Birdhouse started here -->
  <section *ngIf="menuControllerSrv?.gardenMenuItem === 'birdhouse' " class="container pt-3">
    <h1>Birdhouse</h1>
    <p>
      Birdhouse and associated items designed to enhance a person's appearance.
    </p>
  
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/images/DhakaHandiCraft/j1.jpg"
            class="card-img-top"
            alt="student1"
          />
          <div class="m-3">
            <h3 class="card-title">Birdhouse Title</h3>
            <p class="card-text">Birdhouse description</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/images/DhakaHandiCraft/j2.jpg"
            class="card-img-top"
            alt="student2"
          />
          <div class="m-3">
            <h3 class="card-title">Birdhouse Title</h3>
            <p class="card-text">Birdhouse description</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/images/DhakaHandiCraft/j3.jpg"
            class="card-img-top"
            alt="student3"
          />
          <div class="m-3">
            <h3 class="card-title">Birdhouse Title</h3>
            <p class="card-text">Birdhouse description</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Birdhouse ended here -->
