
<!-- Baskets started here -->
<section *ngIf="menuControllerSrv?.homeMenuItem === 'baskets' " class="container pt-3">
    <h1>Baskets</h1>
    <p class="mb-4">
        A basket is a container that is traditionally constructed from stiff fibers and can be made from a range of materials, including wood splints, runners, and cane. While most baskets are made from plant materials, other materials such as horsehair, baleen, or metal wire can be used. Baskets are generally woven by hand. Some baskets are fitted with a lid, while others are left open on top.
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/DhakaHandiCraft/basket1.JPG"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h5 class="card-title">Basket1</h5>
                <p class="card-text">Basket1 description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/basket2.JPG"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h5 class="card-title">Basket2</h5>
                <p class="card-text">Basket2 description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/basket3.jpg"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h5 class="card-title">Basket3</h5>
                <p class="card-text">Basket3 description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Baskets ended here -->

<!-- Home office started here -->
<section *ngIf="menuControllerSrv?.homeMenuItem === 'home-office' " class="container pt-3">
    <h1>Home Office</h1>
    <p class="mb-4">
        Work From Home Essentials That'll Boost Productivity.
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/DhakaHandiCraft/home-office1.jpg"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h5 class="card-title">Home Office Title</h5>
                <p class="card-text">Home Office description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/home-office2.jpg"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h5 class="card-title">Home Office Title</h5>
                <p class="card-text">Home Office description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/home-office3.jpg"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h5 class="card-title">Home Office Title</h5>
                <p class="card-text">Home Office description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Home office ended here -->

<!-- Flower started here -->
<section *ngIf="menuControllerSrv?.homeMenuItem === 'flower-vases' " class="container pt-3">
    <h1>Flower Vases</h1>
    <p class="mb-4">
        Vases are often decorated, and they are often used to hold cut flowers.
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/DhakaHandiCraft/flower1.JPG"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h5 class="card-title">Flower Vases Title</h5>
                <p class="card-text">Flower Vases description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/flower2.JPG"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h5 class="card-title">Flower Vases Title</h5>
                <p class="card-text">Flower Vases description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/flower3.jpg"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h5 class="card-title">Flower Vases Title</h5>
                <p class="card-text">Flower Vases description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Flower ended here -->

<!-- Wall hanging started here -->
<section *ngIf="menuControllerSrv?.homeMenuItem === 'wall-hanging' " class="container pt-3">
    <h1>Wall Hanging</h1>
    <p class="mb-4">
        A wall hanging craft is a decoration, an amulet, a religious or a symbolic object that is hung from the ceiling or another structure.
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/DhakaHandiCraft/7.jpg"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h5 class="card-title">Wall Hanging Title</h5>
                <p class="card-text">Wall Hanging description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/8.JPG"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h5 class="card-title">Wall Hanging Title</h5>
                <p class="card-text">Wall Hanging description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/9.jpg"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h5 class="card-title">Wall Hanging Title</h5>
                <p class="card-text">Wall Hanging description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Wall hanging ended here -->

<!-- Flower started here -->
<section *ngIf="menuControllerSrv?.homeMenuItem === 'lamp-shade' " class="container">
    <h1>Lamp Shade</h1>
    <p class="mb-4">
        A lampshade is a fixture that covers the lightbulb on a lamp to diffuse the light it emits 
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img
                src="../../../assets/images/DhakaHandiCraft/lamp1.JPG"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h5 class="card-title">Lamp Shade Title</h5>
                <p class="card-text">Lamp Shade description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/lamp2.JPG"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h5 class="card-title">Lamp Shade Title</h5>
                <p class="card-text">Lamp Shade description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
              src="../../../assets/images/DhakaHandiCraft/lamp3.JPG"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h5 class="card-title">Lamp Shade Title</h5>
                <p class="card-text">Lamp Shade description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Flower ended here -->
