<!-- Baskets started here -->
<div class="container-fluid">
  <section class="container pt-4">
    <h3 *ngIf="!productList.length">No Content found</h3>
  
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
      <div
        (click)="productDetails(item?.Id)"
        *ngFor="let item of productList"
        class="col cursor_pointer"
      >
        <div class="card">
          <span *ngFor="let img of item.Images">
            <img loading="lazy"
              *ngIf="img?.IsDefault && img?.ImageUrl"
              [src]="globalSrv.imageUrlGet(img?.ImageUrl)"
              class="card-img-top"
              alt=""
            />
          </span>
  
          <div class="m-3">
            <h3 class="card-title">{{ item?.Name }}</h3>
            <p class="card-text">{{ item?.TitleText }}</p>
          </div>
        </div>
      </div>
      <!-- <div (click)="basketDetails()" class="col">
              <div class="card">
                <img loading="lazy"
                src="../../../assets/images/DhakaHandiCraft/basket2.JPG"
                  class="card-img-top"
                  alt="student2"
                />
                <div class="m-3">
                  <h3 class="card-title">Basket2</h3>
                  <p class="card-text">Basket2 description</p>
                </div>
              </div>
            </div>
            <div (click)="basketDetails()" class="col">
              <div class="card">
                <img loading="lazy"
                src="../../../assets/images/DhakaHandiCraft/basket3.jpg"
                  class="card-img-top"
                  alt="student3"
                />
                <div class="m-3">
                  <h3 class="card-title">Basket3</h3>
                  <p class="card-text">Basket3 description</p>
                </div>
              </div>
            </div> -->
    </div>
  </section>
</div>
<!-- Baskets ended here -->
