
<!-- Card and Wrap started here -->
<section *ngIf="menuControllerSrv?.christmasMenuItem === 'card-and-wrap' " class="container pt-3">
    <h1>Card's and Wrap</h1>
    <p class="mb-4">
        A basket is a container that is traditionally constructed from stiff fibers and can be made from a range of materials, including wood splints, runners, and cane. While most baskets are made from plant materials, other materials such as horsehair, baleen, or metal wire can be used. Baskets are generally woven by hand. Some baskets are fitted with a lid, while others are left open on top.
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img loading="lazy"
                src="../../../assets/images/DhakaHandiCraft/basket1.JPG"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h3 class="card-title">Card and wrap</h3>
                <p class="card-text">Card and wrap description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img loading="lazy"
              src="../../../assets/images/DhakaHandiCraft/basket2.JPG"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h3 class="card-title">Card and wrap</h3>
                <p class="card-text">Card and wrap description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img loading="lazy"
              src="../../../assets/images/DhakaHandiCraft/basket3.jpg"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h3 class="card-title">Card and wrap</h3>
                <p class="card-text">Card and wrap description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Card and Wrap ended here -->

<!-- Tree hanging started here -->
<section *ngIf="menuControllerSrv?.christmasMenuItem === 'tree-hanging' " class="container pt-3">
    <h1>Tree Hanging</h1>
    <p class="mb-4">
        A tree hanging craft is a decoration, an amulet, a religious or a symbolic object that is hung from the ceiling or another structure.
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img loading="lazy"
                src="../../../assets/images/DhakaHandiCraft/7.jpg"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h3 class="card-title">Tree Hanging Title</h3>
                <p class="card-text">Tree Hanging description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img loading="lazy"
              src="../../../assets/images/DhakaHandiCraft/8.JPG"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h3 class="card-title">Tree Hanging Title</h3>
                <p class="card-text">Tree Hanging description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img loading="lazy"
              src="../../../assets/images/DhakaHandiCraft/9.jpg"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h3 class="card-title">Tree Hanging Title</h3>
                <p class="card-text">Tree Hanging description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Tree hanging ended here -->

<!-- Home decoration office started here -->
<section *ngIf="menuControllerSrv?.christmasMenuItem === 'home-decoration' " class="container pt-3">
    <h1>Home Decoration</h1>
    <p class="mb-4">
        Work From Home Essentials That'll Boost Productivity.
    </p>
  
   
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
          <div class="col">
            <div class="card">
              <img loading="lazy"
                src="../../../assets/images/DhakaHandiCraft/home-office1.jpg"
                class="card-img-top"
                alt="student1"
              />
              <div class="m-3">
                <h3 class="card-title">Home decoration Title</h3>
                <p class="card-text">Home decoration description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img loading="lazy"
              src="../../../assets/images/DhakaHandiCraft/home-office2.jpg"
                class="card-img-top"
                alt="student2"
              />
              <div class="m-3">
                <h3 class="card-title">Home decoration Title</h3>
                <p class="card-text">Home decoration description</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img loading="lazy"
              src="../../../assets/images/DhakaHandiCraft/home-office3.jpg"
                class="card-img-top"
                alt="student3"
              />
              <div class="m-3">
                <h3 class="card-title">Home decoration Title</h3>
                <p class="card-text">Home decoration description</p>
              </div>
            </div>
          </div>
      </div>
  
</section>
<!-- Home decoration office ended here -->

