<!-- About us started here -->
<section *ngIf="menuControllerSrv?.ourStoryMenuItem === 'about-us' " class="container pt-3">
  <h2 class="fw-bold mb-4">About Us</h2>
  <div class="my-5 p-3">
    <img class="img-fluid" src="../../../assets/images/DhakaHandiCraft/aboutus.jpg" alt="">
  </div>
 <p>
    Dhaka Handicrafts Limited (DH Ltd.) is in the business of production and
    export of handicrafts with the commitment of advancing indigenous and
    impoverished artisans. DH Ltd. is a non-profit handicrafts manufacturing and
    trading concern. It is a hundred percent export oriented crafts producing
    business entity registered under the Joint Stock Company Act 1994 as Limited
    Company by Guarantee. The registration number is C- 38459(417)/99 Dated 29
    August 1999.
  </p>
  <p>
    The motivation for business of DH Ltd. is to serve the traditional crafts
    producers. Along with business as the prime focus, its slogan is “producers
    first”. The organizational philosophy and culture as well as the business
    practices of DH Ltd. were founded on welfare of vulnerable and impoverished
    artisans in rural and remote areas of Bangladesh. Thus, DH Ltd. extends
    number of welfare services to the traditional artisans – the producers. DH
    Ltd. is committed to ensure women economic empowerment and social dignity.
  </p>
  <p>
    Ever since the inception and in the phases of its progressive changes, DH
    Ltd. has been a producer-welfare oriented organization. It shall encourage
    independence and self-reliance for both the organization and its
    beneficiaries. The organization and the people involved shall foster human
    rights, gender equity; and value the cultural and tradition of the relevant
    people on their historical context and future prospects.
  </p>
  <h4 class="fw-bold">Organizational Construct</h4>
  <p>
    In the mission to assist people improve their living conditions, the
    business of DH Ltd. has been based on the active participation of all
    relevant stakeholders in the design, production and quality control of the
    produce and services to the extent deemed relevant to DH Ltd. management. DH
    Ltd. is a non-profit and non political organization, operating as far as
    possible in a self-reliant manner, with the motivation to serve the
    producers who are prominently traditional artisans and underprivileged
    communities in a mode of partnership with least financial stake from
    producers’ side. The functioning of DH Ltd. abides within the realms of
    values that establish it as pro-producer business entity.
  </p>
  <p>The core values, as far as business operation is concerned, are:</p>
  <ul>
    <li>Welfare of Artisans</li>
    <li>Assurance of quality</li>
    <li>Fairness</li>
    <li>Transparency</li>
    <li>Accountability</li>
  </ul>
  <h4 class="fw-bold">Vision of DH Ltd.</h4>
  <p>To be the leading handicrafts exporter of the country</p>
  <h4 class="fw-bold">Mission of DH Ltd.</h4>
  <p>
    Collaborate with the impoverished artisans in production of natural resource
    and recycled material based handicrafts
  </p>
</section>
<!-- About us ended here -->

<!-- Fair trade started here -->
<section *ngIf="menuControllerSrv?.ourStoryMenuItem === 'fair-trade' " class="container pt-3">
    <h2 class="fw-bold mb-4">Fair Trade</h2>
    <div class="my-5 p-3">
      <img class="img-fluid" src="../../../assets/images/DhakaHandiCraft/trade.jpg" alt="">
    </div>
    <p>
        DH  Ltd.  is  a  Fair  Trade  Organization.  It practices fair trade in its business operation.  It maintains  an  active  role  in  promotion  of  fair  trade  among the  producers,  suppliers  and relevant stakeholders irrespective of religion, creed, ethnicity, gender, and origin.
    </p>
    <p>
        However, compliance to FT principles by DH Ltd.  shall  be  subject  to  approval  of Executive  Board;  and  as  well  as  financial  strength,  availability  or  affordability  of physical facilities, capacity of staff or ability of building capacity of staff, and free choice of partners who are associated with production of DH Ltd. goods and providing services.
    </p>
    <p>
        DH  Ltd.  shall  continually  put  effort  for  gradual  upgrading  itself  towards  acquiring  the ability to full compliance of FT Principles.
    </p>

    <p>The  ten  principals  of  WFTO  Guarantee  System  that  DH  Ltd.  intends  to  adopt  are  as  of February 2014</p>
    <h4 class="fw-bold">How do we practice Fair-trade</h4>
    <ul>
      <li>Support equal rights for women and prevent child exploitation</li>
      <li>Build long-term, dependable relationships with our artisan and buying partners.</li>
      <li>Ensure care for the environment.</li>
      <li>Guide sustainable development</li>
      <li>Provide prepayments for orders & raw materials</li>
      <li>And of course, pay a fair price for working force</li>
    </ul>
</section>
<!-- Fair trade ended here -->

<!-- Annual report started here -->
<section *ngIf="menuControllerSrv?.ourStoryMenuItem === 'annual-report' " class="container pt-3">
    <h2 class="fw-bold mb-4">Annual Report</h2>

    <h5>2020-21 Annual Report</h5>
  
</section>
<!-- Annual report ended here -->
