<section id="our-story">
  <!-- About us started here -->
  <div class="container pt-3">
    <h2 class="fw-bold mb-4">{{ homeMenu?.PageName }}</h2>
    <!-- <div class="my-5 p-3">
      <img *ngIf="homeMenu?.ImageUrl"
        loading="lazy"
        class="img-fluid"
        [src]="globalSrv.imageUrlGet(homeMenu?.ImageUrl)"
        alt=""
      />
    </div> -->

   <div class="row">
    <div class="col-12 col-sm-8 col-md-7 height-container">
      <div *ngIf="homeMenu?.MainText" class="video-container">
        <iframe
          class="who-we-are-iframe"
          allow="autoplay; encrypted-media"
          allowfullscreen="allowfullscreen"
          height="500"
          [src]="safeYoutubeSrc"
        >
        </iframe>
      </div>

      <!-- <div class="w-100" *ngIf="!homeMenu?.MainText"> -->
        <img class="img-container"
          *ngIf="homeMenu?.ImageUrl"
          [src]="globalSrv.imageUrlGet(homeMenu?.ImageUrl)"
        />
      <!-- </div> -->
    </div>
   </div>

    <p style="white-space: pre-wrap;">{{ homeMenu?.DetailText }}</p>
  </div>
  <!-- About us ended here -->
</section>
