<!-- Banner area start here -->
<section class="mb-5">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div *ngIf="slidingList?.length" class="carousel-inner">
      <div
        [class.active]="elementOfIndex === 0"
        class="carousel-item"
        *ngFor="let item of slidingList; let elementOfIndex = index"
      >
        <img  
          *ngIf="item?.ImageUrl"
          loading="lazy"
          src="{{ globalSrv.imageUrlGet(item?.ImageUrl) }}"
          class="d-block w-100"
          alt="image1"
        />
        <div (click)="goToNewsAndEventDetails(item?.Id)" 
         
          class="d-flex justify-content-center align-items-center carousel-text-description h-100 cursor_pointer"
        >
          <div *ngIf="item?.Headline || item?.MainText" class="carousel-text p-2">
            <h2>{{ item?.Headline }}</h2>
            <p>
              {{ item?.MainText }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Banner area end here  -->

<!-- Who we are start here -->
<section class="container mb-5 who-we-are">
  <div class="row">
    <div class="col-12 col-md-7">
      <div *ngIf="pageContentObj?.MainText" class="video-container">
        <iframe
          class="who-we-are-iframe"
          allow="autoplay; encrypted-media"
          allowfullscreen="allowfullscreen"
          height="500"
          [src]="safeYoutubeSrc"
        >
        </iframe>
      </div>

      <div *ngIf="!pageContentObj?.MainText">
        <img
          *ngIf="pageContentObj?.ImageUrl"
          class="img-fluid"
          [src]="globalSrv.imageUrlGet(pageContentObj?.ImageUrl)"
          alt=""
        />
      </div>
    </div>
    <div class="col-12 col-md-5">
      <h1 class="text-center mb-3 mt-3 mt-md-0">Who We Are</h1>
      <!-- <p style="white-space: pre-wrap">{{ pageContentObj?.DetailText }}</p> -->
      <p style="white-space: pre-wrap;">
        উপজেলা পটভূমি

        ভৌগলিকভাবে দৌলতপুর ইউনিয়নের দৌলতপুর গ্রামে উপজেলা পরিষদ স্থাপিত হওয়ায় এই উপজেলার নামদৌলতপুর উপজেলা নাম করণ করা হয়েছে।
        
        দৌলতপুর উপজেলা কুষ্টিয়া জেলার অধীনে একটি উপজেলা। দৌলতপুর উপজেলার আয়তন ৪৬১ বর্গ কিলোমিটার। এর উত্তরে বাঘা ও লালপুর, দক্ষিণে গাংনী ও মিরপুর, পুর্বে ভেড়ামারা ও মিরপুর উপজেলা এবং পশ্চিমে ভারতের পশ্চিমবঙ্গ। মাথাভাঙ্গা ও পদ্মা এই উপজেলার প্রধান নদী। এছাড়া হিসনা নামের আরো একটি নদী দৌলতপুর উপজেলার মাঝ দিয়ে প্রবাহিত হয়েছে।
        
        ১৯৮৩ সালে দৌলতপুর থানাকে উপজেলা হিসেবে ঘোষনা করা হয়। দৌলতপুর উপজেলায় ১৪টি ইউনিয়ন, ১৬১টি মৌজা ও ২৪২টি গ্রাম রয়েছে।
        
        দৌলতপুর উপজেলার শিক্ষিতের হার ২০.৫%; যার মধ্যে ২৫% পুরুষ ও ১৫.৭% মহিলা। এই উপজেলার শিক্ষা প্রতিষ্ঠানগূলোর মধ্যে রয়েছেঃ মহাবিদ্যালয়ঃ ১১ টি, মাধ্যমিক বিদ্যালয়ঃ ৪৫ টি, সরকারী প্রাথমিক বিদ্যালয়ঃ ১০৫ টি, বেসরকারী প্রাথমিক বিদ্যালয়ঃ ৮২ টি, মাদ্রাসাঃ ৩৫টি, ভকেশনাল প্রশিক্ষন কেন্দ্রঃ ১ টি এবং এতিমখানাঃ ১ টি
        
        কৃতী ব্যক্তিদের ভিতরে আছেনঃ
        
        ১। শাহ আজিজুর রহমানঃ বাংলাদেশের সাবেক প্রধানমন্ত্রী। শাহ আজিজুর রহমান কুষ্টিয়া জেলার দৌলতপুর উপজেলাই জন্মগ্রহন করেন।
      </p>
        </div>
  </div>
</section>
<!-- Who we are ended here -->

<!-- Product range area start here -->
<section class="container mb-5 product-range">
  <h1 class="mb-5 mt-3 text-center">Browse Through Product Range</h1>
  <div class="row">
    <div class="col-sm-5">
      <div class="product-browse-img-left">
        <img
          *ngIf="productList[0]?.Images[0]?.ImageUrl"
          (click)="productDetails(productList[0]?.Id)"
          loading="lazy"
          class="w-100 h-100"
          [src]="globalSrv.imageUrlGet(productList[0]?.Images[0]?.ImageUrl)"
          alt=""
        />
      </div>
      <div class="mt-2 product-browse-img-left">
        <img
          *ngIf="productList[0]?.Images[1]?.ImageUrl"
          (click)="productDetails(productList[0]?.Id)"
          loading="lazy"
          class="w-100 h-100"
          [src]="globalSrv.imageUrlGet(productList[0]?.Images[1]?.ImageUrl)"
          alt=""
        />
      </div>
    </div>
    <div class="col-sm-7">
      <div class="product-browse-img-right">
        <img
          *ngIf="productList[0]?.Images[2]?.ImageUrl"
          (click)="productDetails(productList[0]?.Id)"
          loading="lazy"
          class="w-100 h-100"
          [src]="globalSrv.imageUrlGet(productList[0]?.Images[2]?.ImageUrl)"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- Product range area ended here -->

<!-- Latest news and events started here -->
<section class="container mb-5">
  <h1 class="mb-5 mt-3 text-center">Latest News & Events</h1>
  <div
    id="carouselExampleControls2"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        [class.active]="elementOfIndex === 0"
        class="carousel-item"
        *ngFor="let item of newsAndEventList; let elementOfIndex = index"
      >
        <img
          *ngIf="item?.ImageUrl"
          loading="lazy"
          src="{{ globalSrv.imageUrlGet(item?.ImageUrl) }}"
          class="d-block w-100"
          alt="image1"
        />
        <div
          (click)="goToNewsAndEventDetails(item?.Id)"
          class="d-flex justify-content-center align-items-center carousel-text-description h-100 cursor_pointer"
        >
          <div  *ngIf="item?.Headline || item?.MainText" class="carousel-text p-2">
            <h2>{{ item?.Headline }}</h2>
            <p>
              {{ item?.MainText }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls2"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls2"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Latest news and events ended here -->

<!-- Social impact started here -->
<section class="container mb-2">
  <h1 class="mb-5 mt-3 text-center">Social Impact</h1>
  <p>
    Dhaka Handicrafts Ltd. (DH Ltd.), a WFTO GS certified Fair Trade company
    leads the basket world leveraged by the perfect match between eco friendly
    raw material sourcing & artisans sustainable livelihood. Sustainable
    business operation policy & fair trade practice created DH Ltd. success
    stories for almost last two decades. DH Ltd. pride is to bring Bangladeshi
    artisans skill into global market.
  </p>
  <div class="row py-5">
    <div *ngFor="let item of socialImpact" class="col-12 col-sm-4 text-center">
      <img
        *ngIf="item?.ImageUrl"
        loading="lazy"
        height="150"
        width="150"
        [src]="globalSrv.imageUrlGet(item?.ImageUrl)"
        alt=""
      />
      <p class="mt-3">{{ item?.Name }}</p>
    </div>
    <!-- <div class=" col-12 col-sm-4 text-center">
       <img loading="lazy" height="150" width="150"  src="../../../assets/images/DhakaHandiCraft/social-impact/112.png" alt="">
      <p class="mt-3">23 YEARS</p>
      </div>
      <div class=" col-12 col-sm-4 text-center">
        <img loading="lazy" height="150" width="150" src="../../../assets/images/DhakaHandiCraft/social-impact/113.jpg" alt="">
      <p class="mt-3">37 LOCATIONS</p>
      </div>
      <div class=" col-12 col-sm-4 text-center">
        <img loading="lazy" height="150" width="150"  src="../../../assets/images/DhakaHandiCraft/social-impact/114.png" alt="">
      <p class="mt-3">1428 ARTISANS</p>
      </div> -->
  </div>
</section>
<!-- Social impact ended here -->

<!-- Membership started here -->
<section class="container mb-5">
  <h1 class="mb-4 mt-3 text-center">Membership</h1>
  <div class="py-3 W-100 membership-container">
    <div *ngFor="let item of memberShip" class="membership-width">
      <img
        *ngIf="item?.ImageUrl"
        loading="lazy"
        class="img-fluid"
        [src]="globalSrv.imageUrlGet(item?.ImageUrl)"
        alt=""
      />
    </div>
    <!-- <div class="membership-width">
       <img loading="lazy" class="img-fluid" src="../../../assets/images/DhakaHandiCraft/membership/Ecota logo.png" alt="">
      </div>
      <div class="membership-width">
        <img loading="lazy" class="img-fluid" src="../../../assets/images/DhakaHandiCraft/membership/EPB Logo.jpg" alt="">
      </div>
      <div class="membership-width">
        <img loading="lazy" class="img-fluid" src="../../../assets/images/DhakaHandiCraft/membership/WFTO Asia.png" alt="">
      </div>
      <div class="membership-width">
        <img loading="lazy" class="img-fluid" src="../../../assets/images/DhakaHandiCraft/membership/WFTO Guaranteed Logo.jpg" alt="">
      </div> -->
  </div>
</section>
<!-- Membership ended here -->
