#carouselExampleControls2 .carousel-item img {
  height: 500px;
}

#carouselExampleControls .carousel-item img {
  height: 580px;
}

.carousel-text-description {
  position: absolute;
  right: 8rem;
  left: 8rem;
  color: #fff;
  text-align: center;
  top: 0;
}

.membership-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
  align-items: center;
}

.who-we-are img:hover, .product-range img:hover {
  opacity: 0.55;
  cursor: pointer;
}
