


#carouselExampleControls2 .carousel-item img {
  height: 500px;
}
#carouselExampleControls .carousel-item img {
  height: 580px;
}
.carousel-text-description {
    position: absolute;
    right: 15%;
    left: 15%;
    color: #fff;
    text-align: center;
    top: 0;
}

// .membership-width {
//   // width: 20%;
// }
.membership-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
  align-items: center;
}