<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Upload slider, news and event image</h2>

      <div class="form-group row">
        <div class="col-sm-6">
          <label class="col-form-label">Select Type</label>
          <dx-select-box
            class="w-100"
            [dataSource]="typeList"
            valueExpr="name"
            displayExpr="name"
            [searchEnabled]="true"
            [searchExpr]="['name']"
            [(ngModel)]="model.Type"
            (onSelectionChanged)="typeOptionChange($event)"
          >
            <dx-validator validationGroup="validationGrp">
              <dxi-validation-rule
                type="required"
                message="Type is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
        <div class="col-sm-6">
          <label class="col-form-label">Upload Image</label>
          <div class="w-100">
            <input
              accept="image/*"
              type="file"
              id="file"
              multiple
              ngModel
              (change)="getFiles($event)"
            />
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label class="col-form-label">Headline</label>
          <dx-text-box
            class="w-100"
            [(ngModel)]="model.Headline"
            (onChange)="model.Headline = model.Headline.trim()"
          >
            <!-- <dx-validator validationGroup="validationGrp">
                            <dxi-validation-rule type="required" message="Headline Required"></dxi-validation-rule>
                          </dx-validator> -->
          </dx-text-box>
        </div>
        <div class="col-sm-6">
          <label class="col-form-label">Main Text</label>
          <dx-text-box
            class="w-100"
            [(ngModel)]="model.MainText"
            (onChange)="model.MainText = model.MainText.trim()"
          >
            <!-- <dx-validator validationGroup="validationGrp">
                            <dxi-validation-rule type="required" message="Headline Required"></dxi-validation-rule>
                          </dx-validator> -->
          </dx-text-box>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <label class="col-form-label">Details Text</label>

          <dx-text-area
            class="w-100"
            [maxHeight]="140"
            height="120px"
            [(ngModel)]="model.DetailText"
            (onChange)="model.DetailText = model.DetailText.trim()"
          ></dx-text-area>
          <!-- <dx-validator validationGroup="validationGrp">
                            <dxi-validation-rule type="required" message="Headline Required"></dxi-validation-rule>
                          </dx-validator> -->
        </div>
      </div>

      <div class="text-center mt-3">
        <button (click)="onDataSubmit()" class="btn btn-primary px-5">Submit</button>
      </div>
    </div>
  </div>

  <div class="row py-5">
    <div class="col-sm-12">
      <div class="card-body">
        <div class="row mt-2 mb-3">
          <h3>News and Event, Main Slider, Topbar List</h3>
        </div>

        <dx-data-grid
          #gridContainer
          [dataSource]="newsEventSlideList"
          [showBorders]="false"
          [showColumnLines]="false"
          [showRowLines]="false"
          [allowColumnResizing]="true"
          columnResizingMode="widget"
          [focusedRowEnabled]="false"
          rowTemplate="rowTemplateName"
          [rowAlternationEnabled]="true"
          keyExpr="Id"
          [wordWrapEnabled]="true"
        >
          <dxo-sorting mode="multiple"></dxo-sorting>
          <dxo-export
            [enabled]="true"
            fileName="serverList"
            [printingEnabled]="false"
          ></dxo-export>
          <dxo-paging [pageSize]="rowSize"></dxo-paging>
          <dxo-search-panel
            [visible]="true"
            [width]="240"
            placeholder="Search..."
          >
          </dxo-search-panel>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 20, 50, 100, 250, 500, 1000]"
            [showInfo]="true"
          >
          </dxo-pager>
          <dxo-column-chooser [enabled]="true" mode="dragAndDrop">
          </dxo-column-chooser>
          <dxo-grouping></dxo-grouping>

          <!-- <dxi-column caption="#SL" width='60' > </dxi-column> -->
          <dxi-column caption="Type" dataField="Type"></dxi-column>
          <dxi-column caption="Headline" dataField="Headline"></dxi-column>
          <dxi-column caption="Image" dataField="ImageUrl"> </dxi-column>
          <dxi-column caption="Action"></dxi-column>

          <tbody class="dx-row" *dxTemplate="let row of 'rowTemplateName'">
            <tr class="custom-row">
              <td>{{ row?.data?.Type }}</td>
              <td>{{ row?.data?.Headline }}</td>
              <td>
                <img
                  height="50"
                  width="70"
                  src="{{ globalSrv.imageUrlGet(row?.data?.ImageUrl) }}"
                  alt=""
                />
              </td>
              <td>
                <dx-button (onClick)="delete(row?.data?.Id)" icon="trash"> </dx-button>
              </td>
            </tr>
          </tbody>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
