<div class="container-fluid">
  <div class="row py-2">
    <div class="col-sm-12">
      <div class="card-body">
        <div class="row mt-2 mb-3">
           <div class="col-sm-6">
            <h2 class="fw-bold">News and Event, Main Slider, Topbar List</h2>
           </div>
           <div class="col-sm-6 text-end">
              <button routerLink="/admin/add-news-event-slider" class="btn btn-primary px-4">Add New</button>
           </div>
        </div>

        <dx-data-grid
          #gridContainer
          [dataSource]="newsEventSlideList"
          [showBorders]="false"
          [showColumnLines]="false"
          [showRowLines]="false"
          [allowColumnResizing]="true"
          columnResizingMode="widget"
          [focusedRowEnabled]="false"
          rowTemplate="rowTemplateName"
          [rowAlternationEnabled]="true"
          keyExpr="Id"
          [wordWrapEnabled]="true"
        >
          <dxo-sorting mode="multiple"></dxo-sorting>
          <dxo-export
            [enabled]="true"
            fileName="serverList"
            [printingEnabled]="false"
          ></dxo-export>
          <dxo-paging [pageSize]="rowSize"></dxo-paging>
          <dxo-search-panel
            [visible]="true"
            [width]="240"
            placeholder="Search..."
          >
          </dxo-search-panel>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 20, 50, 100, 250, 500, 1000]"
            [showInfo]="true"
          >
          </dxo-pager>
          <dxo-column-chooser [enabled]="true" mode="dragAndDrop">
          </dxo-column-chooser>
          <dxo-grouping></dxo-grouping>

          <!-- <dxi-column caption="#SL" width='60' > </dxi-column> -->
          <dxi-column caption="Type" dataField="Type"></dxi-column>
          <dxi-column caption="Headline" dataField="Headline"></dxi-column>
          <dxi-column caption="Image" dataField="ImageUrl"> </dxi-column>
          <dxi-column caption="Action"></dxi-column>

          <tbody class="dx-row" *dxTemplate="let row of 'rowTemplateName'">
            <tr class="custom-row">
              <td>{{ row?.data?.Type }}</td>
              <td>{{ row?.data?.Headline }}</td>
              <td>
                <img
                  height="50"
                  width="70"
                  src="{{ globalSrv.imageUrlGet(row?.data?.ImageUrl) }}"
                  alt=""
                />
              </td>
              <td>
                <dx-button (onClick)="delete(row?.data?.Id)" icon="trash"> </dx-button>
              </td>
            </tr>
          </tbody>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
