
    <section class="container gallery pt-3">
       <div class="img-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <div class="img-prev">
                            <div (click)="imageChange($event)" class="img-slide active">
                                <img src="../../../assets/images/DhakaHandiCraft/8.JPG" alt="img1" >
                            </div>
                            <div (click)="imageChange($event)" class="img-slide">
                                <img src="../../../assets/images/DhakaHandiCraft/9.jpg" alt="img2" >
                            </div>
                            <div (click)="imageChange($event)" class="img-slide">
                                <img src="../../../assets/images/DhakaHandiCraft/7.jpg" alt="img3" >
                            </div>
                            <!-- <div (click)="imageChange($event)" class="img-slide">
                                <img src="../../../assets/images/DhakaHandiCraft/44.jpg" alt="img4" >
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <img style="height:320px; width:340px" id="preview" src="../../../assets/images/DhakaHandiCraft/8.JPG" alt="">
                        </div>
                    </div>
                </div>
               
              
            </div>
            <div class="col-sm-6">
               <div class="bg-white p-3">
                <h3>Ella Rectangular Seagrass Handle Basket Small</h3>
                <p>Handmade in Bangladesh</p>
                <div class="d-flex justify-content-between">
                    <h5>400 TAKA</h5>
                     <span>IN STOCK</span>
                </div>
                <div>
                    <button class="btn btn-primary">
                        Send Message
                    </button>
                </div>
                <hr>

                <h4>DETAILS</h4>
                <p>
                    This set of soft-sided nesting baskets is crafted from natural and dyed jute, making subtle but striking storage for any room. Woven basket set folds flat for easy storage. Two baskets feature screen-printed geometric patterns. Set of 4. Dimensions: Sm: 8"h x 8 1/2"sq; Med: 9 1/2"h x 9 1/2"sq; Lg: 10 1/2"h x 11"sq; Largest: 12"h x 12"sq.</p>
               </div>
            </div>
          </div>
       </div>
    </section>


