
.img-prev {
    margin-top: 10px;
    overflow: auto;
    max-height: 320px;
}
.img-slide img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img-slide  {
    width: 85%;
    height: 110px;
    margin: 3px;
}
.active {
    border: 2px solid #222;
}

#preview {
    height: 320px;
    width: 340px;
}

@media only screen and (max-width:575px) {
    .img-prev {
        height: none !important;
        display: flex;
    }
    .product-details-container {
        flex-direction: column-reverse;
    }
    #preview {
        height: 185px;
        width: 100%;
    }
    .img-slide  {
        height: 66px;  
    }
}