<section class="container gallery pt-3">
  <div class="img-container">
    <div class="row">
      <div class="col-lg-6 mt-3">
        <div class="d-flex product-details-container align-items-center">
          <div class="w-100 w-sm-25">
            <div class="img-prev">
              <div
                [class.active]="indexOfElement === 0"
                *ngFor="
                  let item of productDetail?.Images;
                  let indexOfElement = index
                "
                (click)="imageChange($event)"
                class="img-slide"
              >
                <img *ngIf="item?.ImageUrl" loading="lazy" [src]="globalSrv.imageUrlGet(item?.ImageUrl)" />
              </div>
              <!-- <div (click)="imageChange($event)" class="img-slide">
                <img loading="lazy"
                  src="../../../assets/images/DhakaHandiCraft/9.jpg"
                  alt="img2"
                />
              </div>
              <div (click)="imageChange($event)" class="img-slide">
                <img loading="lazy"
                  src="../../../assets/images/DhakaHandiCraft/7.jpg"
                  alt="img3"
                />
              </div> -->
            </div>
          </div>
          <div class=" w-100 w-sm-75">
            <div style="margin: 8px;">
              <img loading="lazy"
                *ngIf="productDetail?.Images?.length && productDetail?.Images[0]?.ImageUrl"
                id="preview"
                [src]="
                  globalSrv.imageUrlGet(productDetail?.Images[0]?.ImageUrl)
                "
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="bg-white p-3">
          <h1>{{ productDetail?.Name }}</h1>
          <p>{{ productDetail?.TitleText }}</p>
          <div class="d-flex justify-content-between">
            <h3>{{ productDetail?.Price }} TAKA</h3>
            <span>{{ productDetail?.InStockText?.toUpperCase() }}</span>
          </div>
          <div>
            <button (click)="handleContactForm()" class="btn btn-primary">
              Send Message
            </button>
          </div>
          <hr />

          <h4>DETAILS</h4>
          <p>
            {{ productDetail?.ShortText }}
          </p>
        </div>
      </div>
      <div class="col-md-12 py-4">
        {{ productDetail?.DetailText }}
      </div>
    </div>
  </div>
</section>
