<section class="container gallery pt-3">
  <div class="img-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <div class="img-prev">
              <div (click)="imageChange($event)" class="img-slide active">
                <img
                  src="../../../assets/images/DhakaHandiCraft/8.JPG"
                  alt="img1"
                />
              </div>
              <div (click)="imageChange($event)" class="img-slide">
                <img
                  src="../../../assets/images/DhakaHandiCraft/9.jpg"
                  alt="img2"
                />
              </div>
              <div (click)="imageChange($event)" class="img-slide">
                <img
                  src="../../../assets/images/DhakaHandiCraft/7.jpg"
                  alt="img3"
                />
              </div>
              <!-- <div (click)="imageChange($event)" class="img-slide">
                                <img src="../../../assets/images/DhakaHandiCraft/44.jpg" alt="img4" >
                            </div> -->
            </div>
          </div>
          <div class="col-sm-9">
            <div>
              <img
                style="height: 320px; width: 340px"
                id="preview"
                src="../../../assets/images/DhakaHandiCraft/8.JPG"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="bg-white p-3">
          <h3>Ella Rectangular Seagrass Handle Basket Small</h3>
          <p>Handmade in Bangladesh</p>
          <div class="d-flex justify-content-between">
            <h5>400 TAKA</h5>
            <span>IN STOCK</span>
          </div>
          <div>
            <button (click)="handleContactForm()" class="btn btn-primary">Send Message</button>
          </div>
          <hr />

          <h4>DETAILS</h4>
          <p>
            This set of soft-sided nesting baskets is crafted from natural and
            dyed jute, making subtle but striking storage for any room. Woven
            basket set folds flat for easy storage. Two baskets feature
            screen-printed geometric patterns. Set of 4.
          </p>
        </div>
      </div>
      <div class="col-sm-12 py-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nam, cupiditate eum a saepe similique deserunt. Iste, aliquam asperiores laborum animi impedit deserunt magni, quod quae eaque qui sapiente praesentium!
        Hic suscipit consequuntur quo laboriosam, accusantium error odit voluptatibus voluptatum perspiciatis velit atque quidem perferendis aliquid eveniet voluptate possimus ab provident. Culpa veniam aperiam dolorem enim alias expedita dolore ipsam.
        Hic similique minima ad dicta aspernatur numquam odit itaque, tempore esse sunt soluta animi delectus non omnis labore facilis illo inventore tempora accusamus! Facere quas laborum consequatur. Modi, asperiores quae!
        Esse autem recusandae facere, rerum totam commodi incidunt soluta sunt temporibus culpa natus tenetur, fuga illum aperiam architecto quisquam expedita. Quaerat velit ipsam assumenda expedita ea suscipit, non nobis nostrum.
        Nostrum ratione impedit in sed qui recusandae adipisci, natus unde rem officia ad, laborum voluptatibus ipsa dolores cupiditate molestias atque consequatur. Aperiam, nobis officiis voluptatum laudantium eos quasi unde delectus.
        Nostrum quibusdam voluptatem, perferendis molestias odit unde dolore? Qui sequi incidunt architecto quibusdam eos magni dolorem quisquam, consequuntur nesciunt? Aliquam quisquam delectus alias a vitae mollitia rem hic, pariatur maiores.
      </div>
    </div>
  </div>
</section>
