<!-- Header start here -->
<div class="promo-header">
  <!-- <p>Sign up for our emails and get a Promo Code for 15% off your first order!</p> -->
  <p
    style="margin: 0; cursor: pointer"
    (click)="goToNewsAndEventDetails(topBarObj?.Id)"
  >
    {{ topBarObj?.Headline }}
  </p>
</div>
<header style="border-bottom: 1px solid #cdcdcd">
  <div class="container">
    <nav class="navbar navbar-expand-md p-0">
        <a class="navbar-brand">
          <img
            loading="lazy"
            routerLink=""
            class="logo-img slide-in-left"
            src="../../../assets/images/logo.jpg"
            alt="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li
              class="nav-item dropdown1"
              (mouseover)="mouseOver('dropdown-content1')"
              (mouseout)="mouseOut('dropdown-content1')"
            >
              <a class="nav-link">Our Story</a>
              <div>
                <div class="dropdown-content1 p-4 bg-white">
                  <div class="row">
                    <div class="col-sm-5">
                      <a (click)="ourStoryItem(item, false)" *ngFor="let item of pageContent" >{{item?.PageName}}</a>
                      <!-- <a (click)="ourStoryItem('about-us', false)">About Us</a>
                      <a (click)="ourStoryItem('fair-trade', false)"
                        >Fair Trade</a
                      > -->
                      <a
                      (click)="handleContactForm('Request from Annual Report')"
                        >Annual Report</a
                      >
                      <a (click)="handleContactForm('Request from Contact Us')"
                        >Contact Us</a
                      >
                    </div>
                    <div class="col-sm-7">
                      <img
                        loading="lazy"
                        width="220"
                        height="300"
                        src="../../../assets/images/DhakaHandiCraft/trade.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li
              class="nav-item dropdown2"
              (mouseover)="mouseOver('dropdown-content2')"
              (mouseout)="mouseOut('dropdown-content2')"
            >
              <a class="nav-link">Home</a>
              <div>
                <div class="dropdown-content2 p-4 bg-white">
                  <div class="row">
                    <div class="col-sm-5">
                      <!-- <a (click)="homeMenuItem('baskets')">Baskets</a>
                      <a (click)="homeMenuItem('home-office')">Home Office</a>
                      <a (click)="homeMenuItem('flower-vases')">Flower Vases</a>
                      <a (click)="homeMenuItem('home-textiles')">Home Textiles</a>
                      <a (click)="homeMenuItem('wall-hanging')">Wall Hanging</a>
                      <a (click)="homeMenuItem('lamp-shade')">Lamp Shade</a> -->
                      <a
                        (click)="homeMenuItem(item?.Id)"
                        *ngFor="let item of homeCategory"
                        >{{ item?.Name }}</a
                      >
                    </div>
                    <div class="col-sm-7">
                      <img
                        loading="lazy"
                        width="220"
                        height="300"
                        src="../../../assets/images/DhakaHandiCraft/home.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li
              class="nav-item dropdown3"
              (mouseover)="mouseOver('dropdown-content3')"
              (mouseout)="mouseOut('dropdown-content3')"
            >
              <a class="nav-link">Garden</a>
              <div>
                <div class="dropdown-content3 p-4 bg-white">
                  <div class="row">
                    <div class="col-sm-5">
                      <!-- <a (click)="gardenMenu('planters')">Planters</a>
                      <a (click)="gardenMenu('birdhouse')">Birdhouse</a> -->
                      <a
                        (click)="homeMenuItem(item?.Id)"
                        *ngFor="let item of gardenCategory"
                        >{{ item?.Name }}</a
                      >
                    </div>
                    <div class="col-sm-7">
                      <img
                        loading="lazy"
                        width="200"
                        height="300"
                        src="../../../assets/images/DhakaHandiCraft/garden.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li
              class="nav-item dropdown4"
              (mouseover)="mouseOver('dropdown-content4')"
              (mouseout)="mouseOut('dropdown-content4')"
            >
              <a class="nav-link">Personal Accessories</a>
              <div>
                <div class="dropdown-content4 p-4 bg-white">
                  <div class="row">
                    <div class="col-sm-5">
                      <!-- <a (click)="personalItem('bags')">Bag's</a>
                      <a (click)="personalItem('jewelry')">Jewelry</a>
                      <a (click)="personalItem('purses')">Purses</a> -->
                      <a
                        (click)="homeMenuItem(item?.Id)"
                        *ngFor="let item of personalCategory"
                        >{{ item?.Name }}</a
                      >
                    </div>
                    <div class="col-sm-7">
                      <img
                        loading="lazy"
                        width="220"
                        height="300"
                        src="../../../assets/images/DhakaHandiCraft/lamp2.JPG"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li
              class="nav-item dropdown5"
              (mouseover)="mouseOver('dropdown-content5')"
              (mouseout)="mouseOut('dropdown-content5')"
            >
              <a class="nav-link">Christmas</a>
              <div>
                <div class="dropdown-content5 p-4 bg-white">
                  <div class="row">
                    <div class="col-sm-5">
                      <!-- <a (click)="christmasItem('card-and-wrap')">Card’s & Wrap</a>
                      <a (click)="christmasItem('tree-hanging')">Tree Hanging</a>
                      <a (click)="christmasItem('home-decoration')">Home Decoration</a> -->
                      <a
                        (click)="homeMenuItem(item?.Id)"
                        *ngFor="let item of christmasCategory"
                        >{{ item?.Name }}</a
                      >
                    </div>
                    <div class="col-sm-7">
                      <img
                        loading="lazy"
                        width="220"
                        height="300"
                        src="../../../assets/images/DhakaHandiCraft/card1.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <form role="search" style="position: relative">
            <input
              [(ngModel)]="searchFieldValue"
              [ngModelOptions]="{ standalone: true }" 
              style="padding-right: 20px !important"
              (keyup)="searchBoxChanged($event)"
              class="form-control me-2"
              placeholder="Search"
              aria-label="Search"
            />
            <div
              *ngIf="searchFieldValue?.length"
              style="position: absolute; right: 4px; top: 6px; cursor: pointer;"
            >
              <mat-icon (click)="clearSearchField()">close</mat-icon>
            </div>
            <div style="position: relative" id="searched-product">
              <div class="search-product-list" *ngIf="searchedProduct?.length">
                <p (click)="productDetails(item?.Id)"
                  class="search-product-text"
                  *ngFor="let item of searchedProduct"
                >
                  {{ item?.Name }}
                </p>
              </div>
            </div>
          
          </form> &nbsp;
          <button (click)="handleSearchBtn()" class="btn btn-success mt-sm- mt-md-0 " type="submit">Search</button>
        </div>
    </nav>
  </div>
</header>
<!-- Header end here -->

<main class="mb-5 bg-light">
  <router-outlet></router-outlet>
</main>

<!-- Footer started here -->
<footer class="footer-bg text-white container-fluid" id="contact-us">
  <div class="px-2 pt-5">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="footer-div">
        <div class="d-flex align-items-center">
          <!-- <div class="col-sm-6 text-right"> -->
          <img
            loading="lazy"
            width="120"
            src="../../../assets/images/log-t.jpg"
            alt=""
          />
          &nbsp;
          <!-- </div> -->
          <!-- <div class="col-sm-6 text-left"> -->
          <img
            loading="lazy"
            height="100"
            src="../../../assets/images/dh-transparent.png"
            alt=""
          />
          <!-- </div> -->
        </div>
      </div>
      <div class="footer-div footer-story">
        <h2>Our story</h2>
        <!-- <a class="d-block">About Us</a>
        <a class="d-block">Fair Trade</a>
        <a class="d-block">Annual Report</a>
        <a class="d-block">Contact Us</a> -->
        <!-- <a class="d-block" (click)="ourStoryItem('about-us', true)">About Us</a>
        <a class="d-block" (click)="ourStoryItem('fair-trade', true)"
          >Fair Trade</a
        > -->
        <a (click)="ourStoryItem(item, true)" *ngFor="let item of pageContent" >{{item?.PageName}}</a>
        <a
          class="d-block"
          (click)="handleContactForm('Request from Annual Report')"
          >Annual Report</a
        >
        <a
          class="d-block"
          (click)="handleContactForm('Request from Contact Us')"
          >Contact Us</a
        >
      </div>
      <div class="footer-div">
        <h2>Contact with us</h2>
        <span style="font-weight: 500;font-size: 15px;">Head Office: </span>
        <div>House#562, Road#08</div>
        <div>Section-12, Mirpur-DOHS</div>
        <div>Dhaka-1216, Bangladesh</div>
        <div>Email: info@dhakahandicrafts.com</div>
      </div>
      <div class="footer-div">
        <h2 style="height: 32px"></h2>
        <span style="font-weight: 500;font-size: 15px">Registered address:</span> <br />
        <div>Holding No. 430, Nanduain</div>
        <div>Bhawal Mirzapur, Gazipur-1703</div>
      </div>
      <div class="footer-div">
        <div>
          <a
            target="_blank"
            href="https://www.facebook.com/dhakahandicraftsltd/"
            class="fa fa-facebook"
          ></a>
          <a
            target="_blank"
            href="https://www.instagram.com/dhakahandicrafts.hdht/"
            class="fa fa-instagram"
          ></a>
          <a
            target="_blank"
            href="https://twitter.com/dhakahandicraf1"
            class="fa fa-twitter"
          ></a>
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=OII0JpbyAkM"
            class="fa fa-youtube"
          ></a>
        </div>
        <div class="footer-story py-3">
          <!-- <a target="_blank" href="../../../assets/pdf/AnnualReport.pdf">View Catalog</a> | -->
          <a
            class="cursor_pointer"
            (click)="handleContactForm('Request Catalog')"
            >Request Catalog</a
          >

          <div class="my-3" style="padding-right: 2.5rem">
            <img *ngIf="requestCatalogObj?.ImageUrl" height="170"
              loading="lazy"
              class="w-100"
              [src]="globalSrv.imageUrlGet(requestCatalogObj?.ImageUrl)"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 my-5 text-center">
        <p>
          &copy; Copyright {{ currentYear }} Dhaka Handicrafts Limited. All
          Rights Reserved.
        </p>
        <div class="mt-2">
           <a
          style="color: white"
          href="https://www.rexsystemsbd.com"
          target="_blank"
          rel="noopener noreferrer"
          >Developed by Rex System Bangladesh</a
        >
         
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer ended here -->

<div class="float" id="float-message-btn" (click)="openLeaveMessagePopup()">
  <i
    style="font-size: 30px; margin-top: 13px"
    class="fa-brands fa-facebook-messenger"
  ></i>
</div>

<div class="leave-message-popup" id="leave-message">
  <div style="text-align: end">
    <i
      (click)="closeLeaveMessage()"
      class="fa fa-close"
      style="font-size: 24px; cursor: pointer"
    ></i>
  </div>

  <form
    class="w-100 px-4 py-2"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label>Name:*</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
      />
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors['required']">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Email:*</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Subject:*</label>
      <input
        type="text"
        formControlName="subject"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }"
      />
      <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback">
        <div *ngIf="f['subject'].errors['required']">Subject is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Message:*</label>
      <textarea
        formControlName="message"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
      ></textarea>
      <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
        <div *ngIf="f['message'].errors['required']">Message is required</div>
      </div>
    </div>
    <div class="form-group mt-2">
      <button type="submit" class="btn btn-primary w-100">
        Leave a message
      </button>
    </div>
  </form>
</div>
