<!-- Header start here -->
<header class="container py-2 mb-3">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../../assets/images/DhakaHandiCraft/Dhaka-Handicrafts-logo.jpg" alt="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown1">
            <a class="nav-link">Our Story</a>
            <div>
              <div class="dropdown-content1 p-4">
                <div class="row">
                 <div class="col-sm-6">
                   <a>About Us</a>
                   <a>Fair Trade</a>
                   <a>Annual Report</a>
                   <a>Contact Us</a>
                 </div>
                 <div class="col-sm-6">
                   <img class="img-fluid" height="200" src="../../../assets/images/DhakaHandiCraft/_Z7A2317.JPG" alt="">
                 </div>
                </div>
           </div>
            </div>
          </li>

          <li class="nav-item dropdown2">
            <a class="nav-link">Home</a>
            <div>
            <div class="dropdown-content2 p-4">
              <div class="row">
               <div class="col-sm-6">
                <a>Baskets</a>
                <a>Home Office</a>
                <a>Flower Vases</a>
                <a>Home Textiles</a>
                <a>Wall Hanging</a>
                <a>Lamp Shade</a>
          
               </div>
               <div class="col-sm-6">
                 <img class="img-fluid" height="200" src="../../../assets/images/DhakaHandiCraft/_Z7A2317.JPG" alt="">
               </div>
              </div>
            </div>
            </div>
          </li>

          <li class="nav-item dropdown3">
            <a class="nav-link">Garden</a>
            <div>
            <div class="dropdown-content3 p-4">
              <div class="row">
               <div class="col-sm-6">
                 <a>Planters</a>
                 <a>Birdhouse</a>
               </div>
               <div class="col-sm-6">
                 <img class="img-fluid" height="200" src="../../../assets/images/DhakaHandiCraft/_Z7A2317.JPG" alt="">
               </div>
              </div>
            </div>
            </div>
          </li>

          <li class="nav-item dropdown4">
            <a class="nav-link">Personal Accessories</a>
            <div>
            <div class="dropdown-content4 p-4">
              <div class="row">
               <div class="col-sm-6">
                 <a>Bag's</a>
                 <a>Jewelry</a>
                 <a>Purses</a>
               </div>
               <div class="col-sm-6">
                 <img class="img-fluid" height="200" src="../../../assets/images/DhakaHandiCraft/_Z7A2317.JPG" alt="">
               </div>
              </div>
            </div>
            </div>
          </li>

          <li class="nav-item dropdown5">
            <a class="nav-link">Christmas</a>
            <div>
            <div class="dropdown-content5 p-4">
              <div class="row">
               <div class="col-sm-6">
                 <a>Card’s & Wrap</a>
                 <a>Tree Hanging</a>
                 <a>Home Decoration</a>
               </div>
               <div class="col-sm-6">
                 <img class="img-fluid" height="200" src="../../../assets/images/DhakaHandiCraft/_Z7A2317.JPG" alt="">
               </div>
              </div>
            </div>
            </div>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        <!-- <a href="#register" class="btn btn-outline-info">Register</a> -->
      </div>
    </div>
  </nav>
</header>
<!-- Header end here -->

<!-- Banner area start here -->
<section class="mb-5 mt-3">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/images/DhakaHandiCraft/Main Sliding-1.JPG"
          class="d-block w-100"
          alt="image1"
        />
        <div
          class="d-flex justify-content-center align-items-center carousel-text-description h-100"
        >
          <div>
            <h2>Get Started Digital Learning1</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <button class="btn btn-info text-white py-2">Get Started</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
        src="../../../assets/images/DhakaHandiCraft/Main Sliding-2.JPG"
          class="d-block w-100"
          alt="image2"
        />
        <div
          class="d-flex justify-content-center align-items-center carousel-text-description h-100"
        >
          <div>
            <h2>Learn In Different way2</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <button class="btn btn-info text-white py-2">Get Started</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
        src="../../../assets/images/DhakaHandiCraft/Main Sliding-3.JPG"
          class="d-block w-100"
          alt="image3"
        />
        <div
          class="d-flex justify-content-center align-items-center carousel-text-description h-100"
        >
          <div>
            <h2>Learn With Pro Instructor3</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <button class="btn btn-info text-white py-2">Get Started</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
        src="../../../assets/images/DhakaHandiCraft/Main Sliding-4.jpg"
          class="d-block w-100"
          alt="image4"
        />
        <div
          class="d-flex justify-content-center align-items-center carousel-text-description h-100"
        >
          <div>
            <h2>ddf4</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <button class="btn btn-info text-white py-2">Get Started</button>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Banner area end here  -->

<!-- Who we are start here -->
<section class="container mb-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="../../../assets/images/DhakaHandiCraft/11.jpg" alt="">
    </div>
    <div class="col-12 col-sm-6">
      <h1 class="text-center">Who we are</h1>
    </div>
  </div>
</section>
<!-- Who we are ended here -->

<!-- Product range area start here -->
<section class="container mb-5">
   <h1 class="mb-5 mt-3 text-center">Brows Through Product Range</h1>
  <div class="row" > 
    <div class="col-sm-5">
      <div class="col-sm-12">
         <img height="250" class="w-100" src="../../../assets/images/DhakaHandiCraft/_K9A9017.jpg" alt="">
      </div>
      <div class="col-sm-12 mt-2" >
         <img height="250" class="w-100" src="../../../assets/images/DhakaHandiCraft/_K9A9026.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-7">
      <div class="col-sm-12">
             <img height="508" class="w-100" src="../../../assets/images/DhakaHandiCraft/_K9A9048.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Product range area ended here -->

<!-- Latest news and events started here -->
<section class="container mb-5">
  <h1 class="mb-5 mt-3 text-center">Latest News & Events</h1>
  <div
    id="carouselControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/images/cover/cover-1.png"
          class="d-block w-100"
          alt="image1"
        />
        <div
          class="d-flex justify-content-center align-items-center carousel-text-description h-100"
        >
          <div>
            <h2>Get Started Digital Learning</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <button class="btn btn-info text-white py-2">Get Started</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/cover/cover-2.jpg"
          class="d-block w-100"
          alt="image2"
        />
        <div
          class="d-flex justify-content-center align-items-center carousel-text-description h-100"
        >
          <div>
            <h2>Learn In Different way</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <button class="btn btn-info text-white py-2">Get Started</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/cover/cover-3.jpg"
          class="d-block w-100"
          alt="image3"
        />
        <div
          class="d-flex justify-content-center align-items-center carousel-text-description h-100"
        >
          <div>
            <h2>Learn With Pro Instructor</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <button class="btn btn-info text-white py-2">Get Started</button>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Latest news and events ended here -->

<!-- Social impact started here -->
<section class="container mb-5">
  <div class="row">
    <h1 class="mb-5 mt-3 text-center">Social Impact</h1>
    <div class="col-sm-3">
      <p>Dhaka Handicrafts Ltd. (DH Ltd.), a WFTO GS certified Fair Trade company leads the basket world leveraged by the perfect match between eco freiendly raw material sourcing & artisans sustainable livelihood. Sustainable business operation policy & fair trade practice created DH Ltd. success stories for almost last two decades. DH Ltd. pride is to bring Bangladeshi artisans skill into global market.</p>
    </div>
    <div class="col-sm-3">
      <p>Dhaka Handicrafts Ltd. (DH Ltd.), a WFTO GS certified Fair Trade company leads the basket world leveraged by the perfect match between eco freiendly raw material sourcing & artisans sustainable livelihood. Sustainable business operation policy & fair trade practice created DH Ltd. success stories for almost last two decades. DH Ltd. pride is to bring Bangladeshi artisans skill into global market.</p>
    </div>
    <div class="col-sm-3">
      <p>Dhaka Handicrafts Ltd. (DH Ltd.), a WFTO GS certified Fair Trade company leads the basket world leveraged by the perfect match between eco freiendly raw material sourcing & artisans sustainable livelihood. Sustainable business operation policy & fair trade practice created DH Ltd. success stories for almost last two decades. DH Ltd. pride is to bring Bangladeshi artisans skill into global market.</p>
    </div>
    <div class="col-sm-3">
      <p>Dhaka Handicrafts Ltd. (DH Ltd.), a WFTO GS certified Fair Trade company leads the basket world leveraged by the perfect match between eco freiendly raw material sourcing & artisans sustainable livelihood. Sustainable business operation policy & fair trade practice created DH Ltd. success stories for almost last two decades. DH Ltd. pride is to bring Bangladeshi artisans skill into global market.</p>
    </div>
  </div>
</section>
<!-- Social impact ended here -->

<!-- Membership started here -->
<section class="container mb-5">
  <div class="row">
    <h1 class="mb-5 mt-3 text-center">Membership</h1>
    <div class="col-sm-4">
      <img height="200" class="" src="../../../assets/images/DhakaHandiCraft/Dhaka-Handicrafts-logo.png" alt="">
    </div>
    <div class="col-sm-4">
     <img height="200" class="" src="../../../assets/images/DhakaHandiCraft/Dhaka-Handicrafts-logo.png" alt="">
    </div>
    <div class="col-sm-4">
      <img height="200" class="" src="../../../assets/images/DhakaHandiCraft/Dhaka-Handicrafts-logo.png" alt="">
    </div>

  </div>
</section>
<!-- Membership ended here -->

<!-- Footer started here -->
<footer class="footer-bg text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-sm-4">
        <h3>Our story</h3>
        <a class="d-block">About</a>
        <a class="d-block">About</a>
        <a class="d-block">About</a>
      </div>
      <div class="col-12 col-sm-4">
        <h3>Contact with us</h3>
        <a class="d-block">Contact us</a>
        <a class="d-block">Contact us</a>
        <a class="d-block">Contact us</a>
      </div>
      <div class="col-12 col-sm-4">
        <div>
          <a href="" class="fa fa-facebook"></a>
          <a href="" class="fa fa-twitter"></a>
          <a href="" class="fa fa-google"></a>
          <a href="" class="fa fa-linkedin"></a>
          <a href="" class="fa fa-youtube"></a>
          <a href="" class="fa fa-instagram"></a>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer ended here -->

