<!-- Header start here -->
<header class="container py-2">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          routerLink=""
          class="logo-img"
          src="../../../assets/images/1.jpg"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown1">
            <a class="nav-link">Our Story</a>
            <div>
              <div class="dropdown-content1 p-4 bg-white">
                <div class="row">
                  <div class="col-sm-6">
                    <a (click)="ourStoryItem('about-us')">About Us</a>
                    <a (click)="ourStoryItem('fair-trade')">Fair Trade</a>
                    <a   (click)="
                    downloadAnnualReportPdf(
                      '../../../',
                      'DhakaHandiCraftAnnualReport'
                    )"
                  >Annual Report</a>
                    <a (click)="goToContactUs('contact-us')">Contact Us</a>
                  </div>
                  <div class="col-sm-6">
                    <img
                      class="img-fluid h-100"
                      src="../../../assets/images/DhakaHandiCraft/aboutus.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown2">
            <a class="nav-link">Home</a>
            <div>
              <div class="dropdown-content2 p-4 bg-white">
                <div class="row">
                  <div class="col-sm-6">
                    <a (click)="homeMenuItem('baskets')">Baskets</a>
                    <a (click)="homeMenuItem('home-office')">Home Office</a>
                    <a (click)="homeMenuItem('flower-vases')">Flower Vases</a>
                    <a (click)="homeMenuItem('home-textiles')">Home Textiles</a>
                    <a (click)="homeMenuItem('wall-hanging')">Wall Hanging</a>
                    <a (click)="homeMenuItem('lamp-shade')">Lamp Shade</a>
                  </div>
                  <div class="col-sm-6">
                    <img
                      class="img-fluid h-100"
                      src="../../../assets/images/DhakaHandiCraft/basket1.JPG"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown3">
            <a class="nav-link">Garden</a>
            <div>
              <div class="dropdown-content3 p-4 bg-white">
                <div class="row">
                  <div class="col-sm-6">
                    <a>Planters</a>
                    <a>Birdhouse</a>
                  </div>
                  <div class="col-sm-6">
                    <img
                      class="img-fluid h-100"
                      src="../../../assets/images/DhakaHandiCraft/garden1.JPG"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown4">
            <a class="nav-link">Personal Accessories</a>
            <div>
              <div class="dropdown-content4 p-4 bg-white">
                <div class="row">
                  <div class="col-sm-6">
                    <a (click)="personalItem('bags')">Bag's</a>
                    <a (click)="personalItem('jewelry')">Jewelry</a>
                    <a (click)="personalItem('purses')">Purses</a>
                  </div>
                  <div class="col-sm-6">
                    <img
                      class="img-fluid h-100"
                      src="../../../assets/images/DhakaHandiCraft/bags/bag3.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>

          
          <li class="nav-item dropdown5">
            <a class="nav-link">Christmas</a>
            <div>
              <div class="dropdown-content5 p-4 bg-white">
                <div class="row">
                  <div class="col-sm-6">
                    <a>Card’s & Wrap</a>
                    <a>Tree Hanging</a>
                    <a>Home Decoration</a>
                  </div>
                  <div class="col-sm-6">
                    <img
                      class="img-fluid h-100" 
                      src="../../../assets/images/DhakaHandiCraft/card1.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        <!-- <a href="#register" class="btn btn-outline-info">Register</a> -->
      </div>
    </div>
  </nav>
</header>
<!-- Header end here -->

<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer started here -->
<footer class="footer-bg text-white" id="contact-us">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-sm-3 p-0 footer-story">
        <h5>Our story</h5>
        <a class="d-block">About Us</a>
        <a class="d-block">Fair Trade</a>
        <a class="d-block">Annual Report</a>
        <a class="d-block">Contact Us</a>
      </div>
      <div class="col-12 col-sm-6 p-0">
        <h5>Contact with us</h5>
        <div class="row">
          <div class="col-sm-6">
            <b>Head Office: </b>
            <div>House#562, Road#08</div>
            <div>Section-12, Mirpur-DOHS</div>
            <div>Dhaka-1216, Bangladesh</div>
            <div>Email: info@dhakahandicrafts.com</div>
          </div>
          <div class="col-sm-6">
            <b>Registered address:</b> <br />
            <div>Holding No. 430, Nanduain</div>
            <div>Bhawal Mirzapur, Gazipur-1703</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 p-0">
        <div>
          <a
            target="_blank"
            href="https://www.facebook.com/dhakahandicraftsltd/"
            class="fa fa-facebook"
          ></a>
          <a
            target="_blank"
            href="https://www.instagram.com/dhakahandicrafts.hdht/"
            class="fa fa-instagram"
          ></a>
          <a class="fa fa-twitter"></a>
          <a class="fa fa-youtube"></a>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer ended here -->

<div class="float" id="float-message-btn" (click)="openLeaveMessagePopup()">
  <i
    style="font-size: 30px; margin-top: 13px"
    class="fa-brands fa-facebook-messenger"
  ></i>
</div>

<div class="leave-message-popup" id="leave-message">
  <div style="text-align: end">
    <i
      (click)="closeLeaveMessage()"
      class="fa fa-close"
      style="font-size: 24px; cursor: pointer"
    ></i>
  </div>

  <form
    class="w-100 px-4 py-2"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label>Name:*</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
      />
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors['required']">First Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Email:*</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Subject:*</label>
      <input
        type="text"
        formControlName="subject"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }"
      />
      <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback">
        <div *ngIf="f['subject'].errors['required']">Subject is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Message:*</label>
      <textarea
        formControlName="message"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
      ></textarea>
      <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
        <div *ngIf="f['message'].errors['required']">
          First Name is required
        </div>
      </div>
    </div>
    <div class="form-group mt-2">
      <button type="submit" class="btn btn-primary w-100">
        Leave a message
      </button>
    </div>
  </form>
</div>
