
.promo-header {
  background: rgb(107 156 159);
  padding: .4rem;
  text-align: center;
  color: #ffffff;
}

.main-header {
  border-bottom: 1px solid #cdcdcd;
}

header a {
 cursor: pointer;
}

// .nav-link:hover {
//   color: #000000;
// }

.footer-bg {
  background: #4f868e;
}

.fa {
  padding: 15px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  font-size: 25px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #4267B2;
}

.fa-twitter {
  background: #ffffff;
  color:#00acee;
}

// .fa-google {
//   background: #ffffff;
//   color:#4f868e;
// }

// .fa-linkedin {
//   background: #ffffff;
//   color:#4f868e;
// }

.fa-youtube {
  background: #ffffff;
  color:#FF0000;
}

.fa-instagram {
  background: #ffffff;
  color:#8a3ab9;
}

.footer-story a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer-story a:hover {
  text-decoration: underline;
  color: #000000;
}
.leave-message-popup {
  position: fixed;
  bottom: 0px;
  right: 20px;
  // margin-left: 20px;
  // max-width: 450px;
  // border:2px solid red;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 12px;
  border-radius: 4px 4px 0px 0px;
  background: rgb(246, 246, 247);
  width: 24%;
  display: none;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#396066;;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  cursor: pointer;
  display: none;
}
.cursor {
  cursor: pointer;
}






// Hover for all menu css
//menu1
.dropdown-content1 {
  display: none;
  position: absolute;
  min-height: 360px;
  min-width:415px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #ddd;}

// .dropdown1:hover .dropdown-content1 {display: block;}

//menu2
.dropdown-content2 {
  display: none;
  position: absolute;
  min-height: 360px;
  min-width:415px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {background-color: #ddd;}

// .dropdown2:hover .dropdown-content2 {display: block;}


//menu3
.dropdown-content3 {
  display: none;
  position: absolute;
  min-height: 360px;
  min-width:415px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 400px;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a:hover {background-color: #ddd;}

// .dropdown3:hover .dropdown-content3 {display: block;}

//menu4
.dropdown-content4 {
  display: none;
  position: absolute;
  min-height: 360px;
  min-width:415px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content4 a:hover {background-color: #ddd;}

// .dropdown4:hover .dropdown-content4 {display: block;}

//menu5
.dropdown-content5 {
  display: none;
  position: absolute;
  min-height: 360px;
  min-width:415px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content5 a:hover {background-color: #ddd;}

.nav-link {
  padding: 3px 0px;
}
 .dropdown1:hover .nav-link,.dropdown2:hover .nav-link,.dropdown3:hover .nav-link,.dropdown4:hover .nav-link,.dropdown5:hover .nav-link {
    // text-decoration: underline;
    font-weight: bold;
    // border-bottom: 2px solid #cdcdcd;
 }