.img-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2px;
}

.img-single {
    border: 1px solid #504040;
    padding: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .img-container {
        grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .img-container {
        grid-template-columns: repeat(5, 1fr);
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .img-container {
        grid-template-columns: repeat(6, 1fr);
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .img-container {
        grid-template-columns: repeat(7, 1fr);
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .img-container {
        grid-template-columns: repeat(9, 1fr);
    }
  }